body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-color: darkgray;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-score {
  display: flex;
  justify-content: space-around;
}

.deck {
  background-color: lightgray;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  /* perspective: 1000px; */
  align-items: center;
}

.card {
  list-style: none;
  width: 28%;
  min-height: 180px;
  margin: 10px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.card-front,
.card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  background-color: black;
}

.card-back {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  object-fit: cover;
  max-height: 180px;
}

.flipCard {
  transform: rotateY(180deg);
}

.match {
  opacity: 0;
}

@media only screen and (min-width: 768px) {
  .card {
    width: 22%;
  }
}
